
        <main>
          <style>
          h1{
            text-align:center;
          }
          img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          @media only screen and (max-width: 700px){
            .wrapper{
              width:96%;
            }
          }
          </style>
            <div class="wrapper">
            <h1>Christian Olanowski</h1>
            <img>Picture of Christian </img>
            <p1>Christian Olanowski was born and raised in Virginia Beach, VA. He has 3 older brothers:
              Justin, John, and Eric. Christian started wrestling at the age of 7 because he told his mother
              other sports weren't violent enough.</p1>
            <p1>Christian was a graduate of Kellam High School in 2012 where two of his brothers (John & Eric)
              were state champions. In high school he was a 4x state placer winner winning a state title as a
              senior. Christian also placed at the Beast of East and was Honorable Mention for the Asics
              All-American Team.</p1>
            <p2>After high school Christian attended Michigan State University and wrestled at 133/141lbs
              for the Spartans. He was a member of the Varsity Wrestling Team for 3 years before his career
              was cut short by a series of injuries. He graduated with a Bachelor of Arts in Advertising with
              a Concentration in Management in 2016.</p2>
            <p3>Upon graduation Christian moved to Richmond, VA to begin his professional career.
              Christian is also the Founder and President of Prestige Worldwide Wrestling, the premier
              national wrestling team for high school athletes in Virginia. He is also a
              Mindset Coach for <a href="https://www.wrestlingmindset.com/">Wrestling Mindset</a>, a company that helps athletes perform at the highest level by
              training the mental side of wrestling.</p3>
            <h1>Matt Akers</h1>
            <img src="images/MatAkers.png" alt="Matt Akers" width="380px">
            <div class="padding-paragraph">
            <p1>Giving back to Virginia wrestling with the knowledge he have obtained
            competing at the state and national level.He wrestled for Ferrum College
            under Nate Yetzer and Ryan Riggs. Matt was apart of the 2017 NWCA national duals 8th place team finish, NCAA southeast
            conference/regional team championships and was a NCAA southeast wreslting conference place winner.</p1>
            <p2>Matt previously coached with VATP, Hermitage, Mills Godwin, and Deep Run High School. He with other Coaches
              produced multiple conference, regional and state champions. He is now taking his skills to help River City.<p2>
              </div>
              <h1>Corbin Allen</h1>
            <div class="padding-paragraph">
            <p1>Corbin Allen raised and wrestled in Virginia. He wrestled at the University of Virginia. 
              He was ranked no.18 nationally at 160 pounds by Flowrestling and no.19 by Intermat in high school. He was also
              2014 Beast of the East runner-up. Corbin won 2 state championships in class 4A. He won the NHSCA sophomore National Champion at 145 and also won outstanding wrestler
              He finished his high school career with 92-9 record, including 33-2 as senior. In college he was a ACC Academic Honar Roll.
              He has now been brought in by Christian to pass on his skills to the River City wrestlers.
            </p1>
              </div>
              </div>
              </main>