        <main>
          <style>
          h1{
            text-align:center;
            font-family:inherit;
          }
          p{
            text-align:center;
            font-size:18px;
            font-family:san-serif;
          }
          .align{
            padding-right:100px;
            padding-left:100px;
          }
          object{
            padding-left:10px;
            padding-right:10px;
          }
          </style>

          <div class="wrapper">
            <div class="align">
            <h1>Covid information</h1>
            <p>We at River City have put Covid safety as a top priority. When wrestlers enter the building
            they need to have a mask on until they step on the mats. If you are unconfortable with the coach not wearing a mask
            our coaches will wear them if asked to</p>
            <h1>Waviers</h1>
            <p>Before going onto the mat the wrestlers need multiple forms filled out as well as a USA card.
            A Covid-19 wavier is needed, with parental signitures. A liability wavier will be need to allow wrestling.
            Everyone must get a Renewal of their USA wrestling card to be able to wrestle. THERE ARE NO EXCEPTIONS.</p>
            </div>
            <div>
              <object data="/Files/liability waiver RCW.pdf" type="application/pdf" width="500" height="550">
                alt : <a href="/Files/liability waiver RCW.pdf">Liability Waiver</a>
              </object>
              <object data="/Files/COVID-19-Waiver-doc-converted.pdf" type="application/pdf" width="500" height="550">
                alt : <a href="/Files/COVID-19-Waiver-doc.docx-converted.pdf">Covid-19 Waiver</a>
              </object>
            <div>
          </div>
        </main>