
            <div>
                <section class="infographic-picture">
                    <div class="vertical-center">
                        <h2>WELCOME TO RIVER CITY WRESTLING</h2>
                        <h1> See below for more information about our program.</h1>
                    </div>
                </section>
                <section>
                  <div class="wrapper">
                    <h1 class="title">Results</h1>
                    <div class="event-title">
                      <img src="/images/junior.PNG" alt="junior">
                      <img class="cancel" src="/images/river city winning picture.PNG">
                    </div>
                    <div class="event-title-text">
                      <div class="junior">
                        <p>Junior Simon:</p>
                        <p1>River City's First State Champion</p1>
                      </div>
                      <div class="river-win cancel">
                        <p>Team Victory</p>
                        <p1>River City took 1st at the Gorilla tournament</p1>
                      </div>
                    </div>
                    <div class="event-title">
                      <p>More Information on <a href="/results"> Results Page</a></p>
                    </div>
                  </div>
                </section>
                <section>
                  <div class="wrapper">
                    <h1 class="title-right">New Facility</h1>
                    <div class="event-title-right">
                      <img src="/images/practiceroom.JPG">
                      <img  src="/images/RiverCityMat.jpeg">
                    </div>
                  </div>
                </section>
                <section>
                  <div class="wrapper">
                    <h1 class="title-left">Information</h1>
                    <div class="event-title-bottom">
                      <div class="event-box">
                        <h3>Tuesday</h3>
                        <p>Youth/Beginners: 6:00pm - 7:00pm<p>
                        <p>Advanced Practice: 7:00pm - 8:30pm</p>
                      </div>
                      <div class="event-box">
                        <h3>Thursday</h3>
                        <p>Youth/Beginners: 6:00pm - 7:00pm<p>
                        <p>Advanced Practice: 7:00pm - 8:30pm</p>
                      </div>
                      <div class="event-box">
                        <h3>Sunday</h3>
                        <p>Open to all: 1:00pm - 3:00pm</p>
                      </div>
                    </div>
                    <h3 class="payment-title">Payment<h3>
                    <ul class="payment">
                      <li>1 Day/Week - $60/Month</li>
                      <li>2 Day/Week - $85/Month</li>
                      <li>3 Day/Week - $110/Month</li>
                      <li>We will offer a $25 discount for each sibling</li>
                      <li>Please make checks payable to River City Wrestling, LLC</li>
                      <li>Or pay through credit card via <a href="/users/payment">Payment</a></li>
                    </ul>
                    <p class="more-information-schedule">More information on Events and Practices on <a href="/calendar/schedule">Schedule</a></p>
                  </div>
                </section>
            </div>
