      <main>
        <div class="wrapper">
          <section>
            <div class="infographic-picture-results-wrestlefest"></div>
              <div class="vertical-center">
                  <h2>2nd at 2019 VACW Wrestlefest</h2>
                  <h1>Total Team points: 319</h1>
              </div>
          </section>
          <section>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Top Placers</h2>
                <ul>
                  <li><p>Liam Johnson:</p> 3rd Place, 28 points</li>
                  <li><p>ELi Dowdy:</p> 1st Place, 26 points</li>
                  <li><p>Duke Dowdy:</p> 1st Place, 25 points</li>
                  <li><p>Mason Lyons:</p> 1st Place, 24 points</li>
                  <li><p>Cameron Mckay:</p> 2nd Place, 22 points</li>
                  <li><p>David Simon:</p> 3rd Place, 21 points</li>
                  <li><p>Mason Pritchard</p> 2nd Place, 20 points</li>
                  <li><p>Jerry Simon:</p> 2nd Place, 19.5 points</li>
                </ul>
                
              </div>
              <div class="column pictures" style="background-color:#bbb;">
                <img class="picture-1" src="/images/jerry pinning someone.PNG">
                <img class="picture-2" src="/images/Cameran.PNG">
                <img class="picture-3" src="/images/Wrestlefest.PNG.png">
              </div>
            </div>
          </section>
          <section>
            <div class="infographic-picture-results-VAWA"></div>
              <div class="vertical-center-below">
                  <h2>13th at 2020 VAWA State Tournament</h2>
                  <h1>Total Team points: 256</h1>
              </div>
          </section>
          <section>
            <div class="row">
              <div class="column" style="background-color:#aaa;">
                <h2>Top Placers</h2>
                <ul>
                  <li><p>John Byers:</p> 1st Place, 26 points</li>
                  <li><p>ELi Dowdy:</p> 1st Place, 24 points</li>
                  <li><p>Jerry Simon:</p> 3rd Place, 24 points</li>
                  <li><p>Columbus Behrooz:</p> 1st Place, 23 points</li>
                  <li><p>Maximus Behrooz</p> 4th Place, 20 points</li>
                  <li><p>Elliot Byers</p> 3rd Place, 18 points</li>
                  <li><p>Mason Lyons:</p> 5th Place, 18 points</li>
                  <li><p>Hayden Barber:</p> 5th Place, 13 points</li>
                </ul>
                
              </div>
              <div class="column pictures" style="background-color:#bbb;">
                <img class="picture-1" src="/images/jerry pinning someone.PNG">
                <img class="picture-2" src="/images/Cameran.PNG">
                <img class="picture-3" src="/images/Wrestlefest.PNG.png">
              </div>
            </div>
        </div>
      </main>