<link rel="stylesheet" href="/css/schedule.css">
<div id='testing'></div>
<div class="text-align-center">
<h1>Upcoming Events</h1>
<p>for more details you can either click on events or scroll down</p>
</div>
<div id= "calendar"></div>
<div id="test"></div>
<div class="event-container">
  <h3 class="year">Events</h3>
  <div class="event" id='event-table'></div>
</div>
<div class="modal" id="modal">
  <div class="modal-header">
    <div id='modalTitle' class="modal-title"></div>
    <button id='closeButton' class="close-button" onclick='closingModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <p class='body-modal-body'>Time:</p>
    <p id="time"></p>
    <p class='body-modal-body'>Details:</p>
    <p id="details"></p>
  </div>
</div>
<div id="overlay"></div>
    <script src="/css/schedule.js" async=""></script>

